.contactItem {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.contactItem > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.contactDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phoneIcon {
  margin-right: 5px;
}

.contactItem button {
  background-color: #e9e8e8;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  padding: 0px 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contactItem button:hover {
  background-color: #8c8b8b;
}
