.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 320px;
  padding: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.formGroup input {
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;

  padding: 2px;
}

.formGroup div {
  color: red;
  font-weight: bold;
}

button {
  background-color: #e9e8e8;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #8c8b8b;
}
